
* {
    color: black;
    padding: 0;
    margin: 0;
  
} 
 body{
     font-family: 'Noto Sans Display', sans-serif;
     background-color: rgb(170, 118, 51);
 }

/********************
        Header
*********************/

.titulo {
    padding: 5px;
    font-size: 2rem;
    margin: 5px;
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
  
}

header {
    grid-area: header;

}

.Menu {
    background-color: rgb(139, 94, 34);
    max-height: 200px;
    text-align: center;
    color: white;
    overflow: hidden;
    width: 100%;
    
}

.Menu a{
    color:black;
}

Header ul {
    font-size: 0px;
    display: inline-flex;
    flex-direction:row;
    list-style-type:none;
    background-color: rgb(139, 94, 34);
    text-align: center;
    padding: 1rem;
    
}

  Header li { 
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(139, 94, 34);
    text-align: center;
    margin: auto;
    padding: 0 10px; 
    font-size: 0px;
    transition: 3s; /*Transicion*/
    
   
} 
Header a {
    width: 200px;
}

.icono{
    font-size: 2rem;
    
}
.icono li {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(139, 94, 34);
    text-align: center;
    margin: auto;
    padding: 0 10px; 
    font-size: 2rem;
    transition: 3s; /*Transicion */
}

Header li:hover {
    background-color: blanchedalmond;
}

h1 {
    margin-top: 2px;
    text-align: center;
    background-color: rgb(248, 221, 185); 
    color: black;
    font-family:'Bebas Neue', cursive;
    font-size: 2rem;
    
}

.subtitulo {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    background-color: rgb(221, 186, 140); 
}

.text {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: justify; 
    color: black;
    font-size: 1rem;   
    padding: 5px;
    
}

h3 {
    font-size: 1rem;
    font-family: 'Noto Sans Display', sans-serif;
}


.Back:hover {
    background-color:rgb(221, 186, 140); 
}

.items {
    padding: 0;
    margin:0;
    justify-content:space-between;
    
}

.items a {
    display: block;
    width: 90vw;
    height: 80vh;
    overflow: hidden;
}

.items img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item1 {
    grid-area: item1;
    
}

.item2 {
    grid-area: item2;
    
}

.item3 {
    grid-area: item3;
   
}

.item4 {
    grid-area: item4;

}
.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.container {
    background-color:rgb(170, 118, 51);
    grid-area: container;
    display: grid;
    grid-gap: 1rem;
    padding:1rem;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
    justify-content:space-between;

}

footer {
    text-align: center;
    background-color: rgb(248, 221, 185);
    color: black;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2vh; 
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: "header"
                         "container"
                         "footer";
                         
    margin:0;
    padding: 0%;

}
/********************************
            Quienes somos
********************************/
.quienessomos {
    min-width: 100%;
    grid-area: quienessomos;


}
.text1 {
    width: 70%;
    height: 70%;
    grid-area: text1;
    padding: 20px;
    text-align: center;
}
.text1 h2 {
    padding:20px;
    background-color: rgb(221, 186, 140); 
}

.text2 {
    grid-area: text2;
    padding: 20px;
    text-align: center;

}
.text2 h2 {
    background-color: rgb(221, 186, 140); 
    padding:20px;
}

.text3 h2 {
    padding: 10px;
    background-color: rgb(221, 186, 140); 
}

.text3 {
    grid-area: text3;
    padding: 10px;
    text-align: center;
    width: 70%;
    height: 70%;
}
.diviframe {
    margin: 5px;
    min-height: 40vh;

}
.iframe {
    height: 100%;
    width: 100%;
    min-height: 40vh;
    object-fit: cover;
}
.bloque {
    display: grid;
    background-color: rgb(170, 118, 51);
    object-fit: contain;
    grid-area:bloque;
    justify-content:space-between;
    grid-template-areas: "quienessomos"
                         "text1" 
                         "text2"    
                         "text3";
     grid-gap: 1rem;
     padding: 10px;
}
.grid-bloque {
    display:grid;
    grid-template-areas: "header"
                         "bloque"
                         "back";

    margin:0;
    padding: 0%;
}

.Back { 
    text-align: center;
    color: black;
    font-family:'Noto Sans Display', sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-right: 20px;   
    grid-area: back;
    width: 100%;
    background-color: rgb(248, 221, 185);

}
.Back:hover {
    background-color:rgb(221, 186, 140); 
}
/***********************
     Nuestras Birras
***********************/


.nombrebirra {
    grid-area: nombrebirra;
    padding: 10px;
}

.imgbirras img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.imgbirras {
    grid-area: imgbirras;
    width:20vw;
    height: 20vw;
}


.descripcion{
    grid-area: descripcion;
    min-width: 80vw;
    font-size: 1em;
    padding: 20px;

}

.nuestrasbirras {
    display: grid;
    grid-template-areas: "nombrebirra" 
                         "imgbirras"
                         "descripcion";
}

/*************************
    Proceso Artesanal
*************************/

.imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    grid-area: imagenes;

}

.imagen {
    width: 45vw;
    max-height: 50vh;
    grid-area: imagen;
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    padding: 10px;
    text-align: justify;
    grid-area: text;
}



/*************************
        Contactanos
*************************/
.formulario {
    padding: 25px;
    font-family:'Noto Sans Display', sans-serif;
}

.formulario legend {
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    background-color: rgb(221, 186, 140); 
}

.datos label {
    font-size: 1rem;
    text-align: justify;
    background-color: rgb(139, 94, 34);
    
}
.form {
    justify-content: space-around;
    padding: 5px;
    font-size: 1rem;
}

.enviar {
    padding: 15px;
    text-align: right;
}

.seguinos{
    padding: 15px;
    font-family:'Noto Sans Display', sans-serif;
    font-size: 1rem;
    text-align: center; 
}

.redes {
    padding: 10px;
   
}



/*************************
        Responsive
*************************/

@media only screen and (min-width: 760px) {
    .container {
        grid-template-areas: "item1 item2" 
                            "item3 item4"; 
    }
    .items a {
        width: 45vw;
        height: 40vh;
    }
    .bloque {
        display: grid;
        background-color: rgb(170, 118, 51);
        object-fit: contain;
        grid-area:bloque;
        justify-content:space-between;
        grid-template-areas: "quienessomos quienessomos"
                             "text1 text2"    
                             "text3";
         grid-gap: 1rem;
         padding: 10px;
    }

    .nuestrasbirras {
        display: grid;
        grid-template-areas: "nombrebirra nombrebirra"
                             "descripcion  imgbirras";
    }
    Header ul {
        font-size: 1rem;
        display: inline-flex;
        flex-direction:row;
        list-style-type: none;
        background-color: rgb(139, 94, 34);
        text-align: center;
        padding: 1rem;
        
    }
    
      
}

@media screen and (min-width: 1280px){
    .container{
        grid-template-areas: "item1 item2" 
                             "item3 item4"
                             "item5 item6";      
    }
    .items a {
        width: 45vw;
        height: 40vh;
    }

    .bloque {
        display: grid;
        background-color: rgb(170, 118, 51);
        object-fit: contain;
        grid-area:bloque;
        justify-content:space-between;
        grid-template-areas: "quienessomos quienessomos"
                             "text1 text2"    
                             "text3 text3";
         grid-gap: 1rem;
         padding: 10px;
    }
    .nuestrasbirras {
        display: grid;
        grid-template-areas: "nombrebirra nombrebirra nombrebirra"
                             "descripcion descripcion imgbirras";
    }
    Header ul {
        font-size: 1rem;
        display:inline-flex;
        flex-direction:row;
        list-style-type: none;
        background-color: rgb(139, 94, 34);
        text-align: center;
        padding: 1rem;
        
    }
   
    
      Header li { 
        font-family: 'Bebas Neue', cursive;
        background-color: rgb(139, 94, 34);
        text-align: center;
        margin: auto;
        padding: 0 10px; 
        font-size: 2rem;
        transition: 3s;
}
